<ion-header>
  <ion-navbar>
    <ion-title>
      League Play
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row >
        <ion-col>
          <h4>Name</h4>
        </ion-col>
        <ion-col>
          <h4>Rating</h4>
        </ion-col>
        <ion-col>
          <h4>Win %</h4 >
        </ion-col>
    </ion-row>
    <h6 *ngIf='playersDontExist'>No players exist at this time.</h6>
  <button ion-item *ngFor='let player of players' (click)='openPlayer(player)'>
    <ion-row >
      <ion-col>{{player.name}}</ion-col>
      <ion-col>{{player.rating}}</ion-col>
      <ion-col>{{player.winPercentage}}%</ion-col>
    </ion-row>
  </button>

  <button ion-button (click)='createPlayer()'>Create Player</button>
  <button *ngIf='!playersDontExist' ion-button (click)='selectPlayers()'>Play League Matches</button>

</ion-content>
