<ion-header>

  <ion-navbar>
    <ion-title *ngIf="createPlayerBool">Create Player</ion-title>
    <ion-title *ngIf="editPlayerBool">Edit Player</ion-title>
    <ion-buttons start>
        <button ion-button icon-only (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header> 


<ion-content padding>

  <div *ngIf="createPlayerBool">
    <h1 >Create Player</h1>
    <h5 *ngIf="nameDupError" class="display">Name {{errorMessage}}</h5>
    <h5 *ngIf="!nameDupError" >Name</h5>
    <ion-input type="text" [(ngModel)]="name" ></ion-input>
    <h5 *ngIf= '!dispNameError' >Display Name</h5>
    <h5 *ngIf= 'dispNameError' class ='display'>Display Name {{errorMessage}}</h5>
    <ion-input id='dispInputCP' type="text" placeholder="Max of 3 characters" [(ngModel)]="displayName" (keyup) = "checkDispLength(this)" (keydown) = "checkDispLength(this)"></ion-input>
    <h5 *ngIf="!ratingError">Player Rating</h5>
    <h5 *ngIf="ratingError" class="rating">Player Rating</h5>
    <ion-input type="number" placeholder="1.0-5.0" [(ngModel)]="rating" (keyup.enter)="createPlayer()"></ion-input>
    <button ion-button (click)="createPlayer()">Create Player</button>
  </div>

  <div *ngIf="editPlayerBool">
    <h1>Edit Player</h1>
    <h5 *ngIf="nameDupError" class="display">Name {{errorMessage}}</h5>
    <h5 *ngIf="!nameDupError" >Name</h5>
    <ion-input type="text" [(ngModel)]="name" ></ion-input>
    <h5 *ngIf= '!dispNameError' >Display Name</h5>
    <h5 *ngIf= 'dispNameError' class ='display'>Display Name {{errorMessage}}</h5>
    <ion-input id='dispInputEP' type="text" placeholder="Max of 3 characters" [(ngModel)]="displayName" (keydown) = "checkDispLength(this)" (keyup) = "checkDispLength(this)"></ion-input>
    <h5 *ngIf="!ratingError">Player Rating</h5>
    <h5 *ngIf="ratingError" class="rating">Player Rating</h5>
    <ion-input type="number" placeholder="1.0-5.0" [(ngModel)]="rating"></ion-input>
    <button ion-button (click)="savePlayer()">Save Player</button>
    <button ion-button (click)='deletePlayer()' color= 'danger'>Delete Player</button>
 
    <h6>Information</h6>
        <ion-list>
          <li>Wins: {{player.wins}}</li>
          <li>Rounds Played: {{player.roundsPlayed}}</li>
          <li>Win Percentage: {{player.winPercentage}}</li>
        </ion-list>
 
  </div>
  

</ion-content>
