
<ion-header>

  <ion-navbar>
    <ion-title>League Play</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addPlayer()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="remove()">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="refreshButton()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  

</ion-header>


<ion-content padding>

    <ion-row class='top_row'>
        <ion-col>
          <h3>Round {{rounds}}</h3>
        </ion-col>
        <ion-col></ion-col>
        <ion-col class='results'>
          <button ion-button (click)='results()'>Results</button>
        </ion-col>
      </ion-row>

  <div *ngIf='singlesFormat'>
      <ion-list>
          <ion-grid *ngFor="let match of singlesMatches">
            <ion-row>
              <ion-col>
                <h5>Court #{{match.court}}</h5>
              </ion-col>
            </ion-row>
            <ion-row class='b_row'>
              <ion-col>
                <button ion-button [color]='match.buttonColor1' block 
                (click)="winnerWinnerSingles(match.court,1,match.player1,match.player2)">{{match.player1._id}}</button>
              </ion-col>
              <ion-col col-auto>
                <ion-label>Versus</ion-label>
    
              </ion-col>
              <ion-col>
                <button ion-button [color]='match.buttonColor2' block 
                (click)="winnerWinnerSingles(match.court,2,match.player2,match.player1)">{{match.player2._id}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>
    
        </ion-list>
  </div>

  <div *ngIf='doublesFormat'>
      <ion-list>
          <ion-grid *ngFor="let match of doublesMatches">
            <ion-row>
              <ion-col>
                <h5>Court #{{match.court}}</h5>
              </ion-col>
            </ion-row>
            <ion-row class='b_row'>
              <ion-col>
                <button ion-button [color]='match.buttonColor1' block 
                (click)="winnerWinnerDoubles(match.court,1,match.players[0],match.players[1],match.players[2],match.players[3])">
                {{match.players[0]._id}} and {{match.players[1]._id}}</button>
              </ion-col>
              <ion-col col-auto>
                <ion-label>Versus</ion-label>
    
              </ion-col>
              <ion-col>
                <button ion-button [color]='match.buttonColor2' block 
                (click)="winnerWinnerDoubles(match.court,2,match.players[2],match.players[3],match.players[0],match.players[1])">
                {{match.players[2]._id}} and {{match.players[3]._id}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>
    
        </ion-list>

        <ion-grid *ngIf="singlesRound">
            <ion-row>
              <ion-col>
                <h5>Court #{{singleGame.court}}</h5>
              </ion-col>
        
            </ion-row>
            <ion-row>
              <ion-col>
                <button ion-button [color]='sbuttonColor1' block 
                (click)="winnerWinnerSingles(1,singleGame.player1,singleGame.player2)">{{singleGame.player1._id}}</button>
              </ion-col>
              <ion-col col-auto>
                <ion-label>Versus</ion-label>
        
              </ion-col>
              <ion-col>
                <button ion-button [color]='sbuttonColor2' block 
                (click)="winnerWinnerSingles(2,singleGame.player2,singleGame.player1)">{{singleGame.player2._id}}</button>
              </ion-col>
            </ion-row>
          </ion-grid>

  </div>

  <h5 *ngIf="byeRound">Bye: {{byePlayer._id}}</h5>

  <button ion-button *ngIf='!competetiveRound' (click)="nextRound()" block>Next Random Round</button>
  <button ion-button (click)='reset()' block color='danger'>Quit Game</button>

</ion-content>
