<ion-header>
  <ion-navbar>
    <ion-title>
      Pickup Play
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addPlayer()" >
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="remove()">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <button ion-button icon-only (click)="refreshButton()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    
  <h3 >Rounds Played: {{rounds}}</h3>
  <ion-list >
    <ion-grid  *ngFor="let match of matches" >
      <ion-row>
        <ion-col>
          <h5>Court #{{match.court}}</h5>
        </ion-col>
      </ion-row>
      <ion-row class='b_row'>
      <ion-col>
          <button ion-button [color]='match.buttonColor1' block (click)="winnerWinnerDoubles(match.court,1,match.players[0],match.players[1],match.players[2],match.players[3])">{{match.players[0].id}} and {{match.players[1].id}}</button>
      </ion-col>
      <ion-col col-auto>
          <ion-label>Versus</ion-label>
          
      </ion-col>
      <ion-col>
          <button ion-button [color]='match.buttonColor2' block (click)="winnerWinnerDoubles(match.court,2,match.players[2],match.players[3],match.players[0],match.players[1])">{{match.players[2].id}} and {{match.players[3].id}}</button>
      </ion-col>
    </ion-row>
    </ion-grid>
      
  </ion-list> 

  <ion-grid  *ngIf="singles">
    <ion-row>
        <ion-col>
            <h5>Court #{{singleGame.court}}</h5>
          </ion-col>
    </ion-row>
      <ion-row>
      <ion-col>
          <button ion-button [color]='sbuttonColor1' block (click)="winnerWinnerSingles(1,singleGame.player1,singleGame.player2)">{{singleGame.player1.id}}</button>
      </ion-col>
      <ion-col col-auto>
          <ion-label>Versus</ion-label>
          
      </ion-col>
      <ion-col>
          <button ion-button [color]='sbuttonColor2' block (click)="winnerWinnerSingles(2,singleGame.player2,singleGame.player1)">{{singleGame.player2.id}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

    <h5 *ngIf="byeRound">Bye: {{byePlayer.id}}</h5>
    
  <button ion-button (click)="nextRound()" block>Next Round</button>
  
  <button ion-button (click)="competeShuff()" block>Competitve Round</button>
  
</ion-content>
