<ion-header>

  <ion-navbar>
    <ion-title>Select Players</ion-title>
    
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      <h2>
        <strong>Groups</strong>
      </h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="!groupsExist">
        <h6>No Groups Exist</h6>
      </ion-item>
      <div *ngIf="groupsExist">
        <ion-row>
          <ion-col>
            <h4>Group Name</h4>
          </ion-col>
          <ion-col>
            <h4>Number of Players</h4>
          </ion-col>
        </ion-row>
        <ion-list *ngFor="let group$ of groups">
    
          <ion-row>
            <ion-col align-self: stretch>
              <ion-item>
                <ion-label>{{group$.name}}</ion-label>
                <ion-checkbox (ionChange)="addPlayer(player)" checked="player.isPlaying"></ion-checkbox>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-label>{{group.players.length}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>
      <button ion-button (click)="createGroup()">Create Group</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h2>
        <strong>Players</strong>
      </h2>
    </ion-card-header>
    <ion-card-content>
      
  <ion-row>
      <ion-col>
        <h3>Player Name</h3>
      </ion-col>
      <ion-col>
        <h3>Display Name</h3>
      </ion-col>
    </ion-row>
      <ion-list *ngFor="let player of players$ | async  ">


        <ion-row>
          <ion-col align-self: stretch>
            <ion-item>
              <ion-label>{{player.name}}</ion-label>
              <ion-checkbox (ionChange)="addPlayer(player)" checked="player.isPlaying"></ion-checkbox>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-label>{{player.displayName}}</ion-label>
          </ion-col>
        </ion-row>
    
      </ion-list>
      <ion-item>
          <ion-label fixed color="dark">Game Type:</ion-label>
          <ion-select interface='popover' [(ngModel)]="gameType">
            <ion-option value="singles">Singles</ion-option>
            <ion-option value="doubles" selected="true">Doubles</ion-option>
          </ion-select>
        </ion-item>
      
        <button ion-button (click)="startRounds()">Start Matches</button>
    </ion-card-content>
  </ion-card>




  


  

 


</ion-content>